name: example
description: Example of application using the touch bar plugin.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.5
  # When depending on this package from a real application you should use:
  #   touch_bar: ^x.y.z
  # See https://dart.dev/tools/pub/dependencies#version-constraints
  # The example app is bundled with the plugin so we use a path dependency on
  # the parent directory to use the current plugin's version.
  touch_bar:
    path: ../touch_bar

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/icons/plus.png
    - assets/icons/minus.png
    - assets/icons/menu.png
    - assets/icons/menu-2.png