name: touch_bar
description: A Flutter plugin to interact with the touch bar of supported models of MacBook Pro, providing dynamic contextual controls.
version: 0.2.0-alpha.1
homepage: https://github.com/vital-edu/touch_bar_flutter_plugin/tree/master/touch_bar
repository: https://github.com/vital-edu/touch_bar_flutter_plugin/

flutter:
  plugin:
    platforms:
      macos:
        default_package: touch_bar_macos

dependencies:
  flutter:
    sdk: flutter
  touch_bar_platform_interface:
    path: ../touch_bar_platform_interface
  touch_bar_macos: 
    path: ../touch_bar_macos
dev_dependencies:
  flutter_test:
    sdk: flutter
  plugin_platform_interface: ^2.1.4
  pedantic: ^1.11.1

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'